.intro-bg {
  background: #86c3d7;
  width: 100%;
  height: 100vh;
}

.intro-section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}
.header__tel-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.block-phone__phone-img {
  padding-right: 6px;
}

.tel-intro__number {
  font-size: 24px;
  font-family: AlegreyaSans-Regular;
  color: #fff;
}

.intro-nav-list {
  width: 634px;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-nav-item__link-intro {
  text-decoration: none;
  font-size: 18px;
  font-family: AlegreyaSans-Regular;
  color: #fff;
}

.block-all-intro-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80%;
}

.intro-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro-main-content__main-text {
  font-family: AlegreyaSans-Bold;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 50%;
  line-height: 1.2em;
}
.intro-main-content__second-text {
  font-family: AlegreyaSans-Regular;
  font-size: 21px;
  color: #fff;
  margin: 5px 61% 0 0;
}

.intro-main-content__button-block {
  margin-top: 32px;
}

.button-block {
  display: block;
  width: 156px;
  height: 58px;
  background: #fff;
  color: #365a49;
  font-family: AlegreyaSans-ExtraBold;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.button-block:hover {
  background-color: #365a49;
  color: #fff;
}

.intro-block-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro-block-icon__intro-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-item-icon__intro-text-content-icon {
  margin-left: 20px;
  font-family: AlegreyaSans-Regular;
  font-size: 16px;
  color: #fff;
  width: 84px;
}

@font-face {
  font-family: AlegreyaSans-Black;
  src: url(/fonts/AlegreyaSans-Black.ttf);
}
@font-face {
  font-family: AlegreyaSans-BlackItalic;
  src: url(/fonts/AlegreyaSans-BlackItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Bold;
  src: url(/fonts/AlegreyaSans-Bold.ttf);
}
@font-face {
  font-family: AlegreyaSans-BoldItalic;
  src: url(/fonts/AlegreyaSans-BoldItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-ExtraBold;
  src: url(/fonts/AlegreyaSans-ExtraBold.ttf);
}
@font-face {
  font-family: AlegreyaSans-ExtraBoldItalic;
  src: url(/fonts/AlegreyaSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Italic;
  src: url(/fonts/AlegreyaSans-Italic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Light;
  src: url(/fonts/AlegreyaSans-Light.ttf);
}
@font-face {
  font-family: AlegreyaSans-LightItalic;
  src: url(/fonts/AlegreyaSans-LightItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Medium;
  src: url(/fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: AlegreyaSans-MediumItalic;
  src: url(/fonts/AlegreyaSans-MediumItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Regular;
  src: url(/fonts/AlegreyaSans-Regular.ttf);
}
@font-face {
  font-family: AlegreyaSans-Thin;
  src: url(/fonts/AlegreyaSans-Thin.ttf);
}
@font-face {
  font-family: AlegreyaSans-ThinItalic;
  src: url(/fonts/AlegreyaSans-ThinItalic.ttf);
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1101px;
  padding: 0px 80px;
  margin: 0 auto;
}